/* left techspaceke image */
.techSpaceImage{
    background-color: #03A47E;
    display: flex;
    align-items: center;
    justify-content: center;

} 

/* full page */
.container-fluid{
    height: 100vh;
}


/* right reset form */

.resetform form{
    width: 70%;
    margin: 150px auto;
}

.resetform p{
    text-align: center;
    color: #252533;
    font-size: 1.6rem;
    font-weight: 600 !important;
}

/* form groups */
.form-group input{
    margin-bottom: 18px;
}
.form-group img{
    height: 22px;
}

/* continue button */
.continueButton input{
    background-color: #03A47E;
    color: white;
    font-weight: 600 !important;
    font-size: 1.1rem;
}

/* closed eye icon */
.eye-icon{
    position: absolute;
    top: 27%;
    right: 10%;
}

.eye-icon2{
    position: absolute;
    top: 34%;
    right: 10%;

}

