<div class="container-fluid ">
    <div class="row  d-flex h-100">
        <div class="techSpaceImage col-5">
            <img src="../../../assets/images/spaceyatech.png" alt="">
        </div>
        
        <!-- reset form -->
        <div class="resetform col-7 h-100 ">
            <form>
                <p>Please Reset Password</p>
                <div class="form-group">
                    <img src="../../../assets/images/hide-pass-icon.png" alt="" class="eye-icon">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <img src="../../../assets/images/hide-pass-icon.png" alt="" class="eye-icon2">
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Confirm Password">
                  </div>
                  <div class="form-group continueButton">
                    <input type="button" class="form-control"  value="Continue">
                </div>
                
              </form>
        </div>
    </div>
</div>